<div class="task-container">
  <button mat-raised-button color="primary" (click)="openTaskModal()">Add Task</button>

  <div class="task-controls">
    <mat-form-field appearance="outline">
      <mat-label>Search Tasks</mat-label>
      <input matInput placeholder="Type to search..." [(ngModel)]="searchText" />
    </mat-form-field>
  </div>


  <div class="scrollable-sections">
    <div class="task-section">
      <h3>Pending</h3>
      <app-task-card
      *ngFor="let task of tasks of filteredTasksByStatus('new')"
      [task]="task"
      (taskUpdated)="onTaskUpdated($event)"
      (taskDeleted)="onTaskDeleted($event)"
    ></app-task-card>
    </div>

    <div class="task-section">
      <h3>In Progress</h3>
      <app-task-card
        *ngFor="let task of filteredTasksByStatus('In Progress')"
        [task]="task"
        (taskUpdated)="openTaskModal(task)"
        (taskDeleted)="onTaskDeleted(task)"
      ></app-task-card>
    </div>

    <div class="task-section">
      <h3>Completed</h3>
      <app-task-card
        *ngFor="let task of filteredTasksByStatus('completed')"
        [task]="task"
        (taskUpdated)="openTaskModal(task)"
        (taskDeleted)="onTaskDeleted(task)"
      ></app-task-card>
    </div>
  </div>
</div>
