<div class="task-container">
  <button mat-raised-button (click)="openTaskModal()">Add Task</button>

  <div class="task-controls">
    <mat-form-field appearance="outline">
      <mat-label>Search Tasks</mat-label>
      <input matInput placeholder="Type to search..." [(ngModel)]="searchText" />
    </mat-form-field>

    

    <mat-form-field appearance="outline">
      <mat-label>Filter by Status</mat-label>
      <mat-select [(value)]="statusFilter">
        <mat-option value="">All</mat-option>
        <mat-option value="new">New</mat-option>
        <mat-option value="In Progress">In Progress</mat-option>
        <mat-option value="completed">Completed</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="task-cards-scroll">
    <app-task-card
      *ngFor="let task of filteredTasks()"
      [task]="task"
    ></app-task-card>
  </div>
</div>
